@media ( min-width : 1900px) {
  .container {
    max-width: 98%;
  }
  .video {
    width: 640px;
    height: 480px;
  }
}

@media ( min-width : 1600px) {
  .container {
    max-width: 98%;
  }
  .video {
    width: 640px;
    height: 480px;
  }
}

@media ( min-width : 1200px) {
  .container {
    max-width: 98%;
  }
  .video {
    width: 640px;
    height: 480px;
  }
}

@media ( min-width : 768px) {
  .container {
    max-width: 98%;
  }
  .video {
    width: 640px;
    height: 480px;
  }
}

@media ( max-height : 768px) {
  .container {
    max-width: 98%;
  }
  .video {
    width: 640px;
    height: 480px;
  }
}

@media ( max-width : 320px) {
  .container {
    max-width: 98%;
  }
  .video {
    width: 320px;
    height: 240px;
  }
}

@media ( max-height : 320px) {
  .container {
    max-width: 98%;
  }
  .video {
    width: 320px;
    height: 320px;
  }
}

body {
  position: relative;
  overflow-x: hidden;
}

body, html {
  height: 100%;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

h1 {
  text-transform: capitalize;
}

.capitalized {
  text-transform: capitalize;
}

.center {
  display: grid;
  justify-content: center;
  align-items: center;
}

.clickable {
  cursor: pointer;
}

.admin-feature {
}

.video {
  border-radius: 10px;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

#content {
    height: 100%;
}

.footer {
  position: fixed;
  display: table-row;
  bottom: 0;
  width: 100%;
  z-index: 1001;
  height: 40px;
  line-height: 40px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.status-icon {
  background: url(../images/status.png) left top;
  width: 32px !important;
  height: 32px !important;
  display: inline-flex;
  float: left;
  margin-left: 2px;
  margin-right: 2px;
}

.menu-icon {
  margin-top: 2px;
}

.periods-icon {
  background: url(../images/calendar.png) left top;
  width: 32px !important;
  height: 32px !important;
  display: inline-flex;
  float: left;
  margin-left: 2px;
  margin-right: 2px;
}

.settings-icon {
  background: url(../images/settings.png) left top;
  width: 32px !important;
  height: 32px !important;
  display: inline-flex;
  float: left;
  margin-left: 2px;
  margin-right: 2px;
}

.devices-icon {
  background: url(../images/devices.png) left top;
  width: 32px !important;
  height: 32px !important;
  display: inline-flex;
  float: left;
  margin-left: 2px;
  margin-right: 2px;
}

.zone-icon {
  background: url(../images/zone.png) left top;
  width: 32px !important;
  height: 32px !important;
  display: inline-flex;
  float: left;
  margin-left: 2px;
  margin-right: 2px;
}

.video-icon {
  background: url(../images/video-camera.png) left top;
  width: 32px !important;
  height: 32px !important;
  display: inline-flex;
  float: left;
  margin-left: 2px;
  margin-right: 2px;
}

.add-icon {
  background: url(../images/add.png) left top;
  width: 32px !important;
  height: 32px !important;
  display: inline-flex;
  float: left;
  margin-left: 2px;
  margin-right: 2px;
}

.copy-icon {
  background: url(../images/copy.png) left top no-repeat;
  width: 32px !important;
  height: 32px !important;
  display: inline-flex;
  float: left;
  margin-left: 2px;
  margin-right: 2px;
}

.delete-icon {
  background: url(../images/delete.png) left top no-repeat;
  width: 32px !important;
  height: 32px !important;
  display: inline-flex;
  float: left;
  margin-left: 2px;
  margin-right: 2px;
}

.download-icon {
  background: url(../images/download.png) left top no-repeat;
  width: 32px !important;
  height: 32px !important;
  display: inline-flex;
  float: left;
  margin-left: 2px;
  margin-right: 2px;
}

.edit-icon {
  background: url(../images/edit.png) left top no-repeat;
  width: 32px !important;
  height: 32px !important;
  display: inline-flex;
  float: left;
  margin-left: 2px;
  margin-right: 2px;
}

.save-icon {
  background: url(../images/save.png) left top no-repeat;
  width: 32px !important;
  height: 32px !important;
  display: inline-flex;
  float: left;
  margin-left: 2px;
  margin-right: 2px;
}

.footer-icon {
  background: url(../images/footer.jpg) left bottom no-repeat;
  width: 264px !important;
  height: 36px !important;
  display: inline-flex;
  margin-left: 2px;
  margin-right: 2px;
}

.play-icon {
  background: url(../images/play.png) left top no-repeat;
  width: 32px !important;
  height: 32px !important;
  display: inline-flex;
  float: left;
  margin-left: 2px;
  margin-right: 2px;
}

.stop-icon {
  background: url(../images/stop.png) left top no-repeat;
  width: 32px !important;
  height: 32px !important;
  display: inline-flex;
  float: left;
  margin-left: 2px;
  margin-right: 2px;
}

.view-icon {
  background: url(../images/view.png) left top no-repeat;
  width: 32px !important;
  height: 32px !important;
  display: inline-flex;
  float: left;
  margin-left: 2px;
  margin-right: 2px;
}

.warning-icon {
  background: url(../images/warning.png) left top;
  width: 32px !important;
  height: 32px !important;
  display: inline-flex;
  float: left;
  margin-left: 2px;
  margin-right: 2px;
}

.info-icon {
  background: url(../images/info.png) left top;
  width: 32px !important;
  height: 32px !important;
  display: inline-flex;
  float: left;
  margin-left: 2px;
  margin-right: 2px;
}

.error-icon {
  background: url(../images/error.png) left top;
  width: 32px !important;
  height: 32px !important;
  display: inline-flex;
  float: left;
  margin-left: 2px;
  margin-right: 2px;
}

.dropdown-menu {
  border-bottom-width: 1px !important;
}

.btn {
  font-size: 18px;
  padding: 4px 4px !important;
  text-transform: capitalize;
 }

.btn-primary {
  margin-left: 4px !important;
}

.btn-secondary {
  background-color: transparent;
  margin-left: 4px;
}

.content {
  width: 100%;
  border: none;
}

.container {
  margin-left: 0;
  padding-right: 5px;
  padding-left: 5px;
}

.row {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  margin-top: 1px;
  margin-bottom: 1px;
  margin-left: 1px;
  margin-right: 4px;
  padding-bottom: 2px;
  vertical-align: middle;
  align-items: center;
}

.column {
  text-overflow: ellipsis;
  padding-right: 4px;
  padding-left: 4px;
}

.row div:last-child {
  padding-bottom: 0;
}

.row div:last-child {
  border-bottom-width: 0px;
}

.row-header {
  font-weight: bold;
  padding-bottom: 4px;
  margin-bottom: 4px;
  text-transform: capitalize;
}

.column-header {
  text-align: center;
}

.text-middle {
  padding-top: 6px;
}

.form-group {
  margin-bottom: 4px;
}

.ui-button {
  width: 34px;
  height: 34px;
}

#menubar {
  width: 100%;
  height: 38px;
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 15px;
  background: green;
  border: none;
  position: fixed;
  opacity: 100%;
  z-index: 999;
}

.menu {
  top: 0;
  width: 100%;
  height: 38px;
  margin-left: 0;
  margin-top: 0;
  background: grey;
  border: none;
  padding-top: 0;
  z-index: 999;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.menu-item {
  display: inline-block;
  padding-left: 10px;
  font-size: 18px;
  color: white;
  line-height: 16px;
}

.menu-item.disabled {
  opacity: 0.15;
}

.dropdown-menu {
  padding: 0 !important;
}

.account-menu-item {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 18px;
  line-height: 44px !important;
  color: white;
  line-height: 16px !important;
  text-align: right;
  margin-left: auto;
  margin-right: 0;
}

.overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(250, 250, 250, .8);
  z-index: 1;
}

.modal-footer {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  padding-right: 3px;
}

.modal-header {
  border-bottom: none;
  padding-top: 6px;
  padding-bottom: 0;
  position: relative;
  justify-content: center;
}

.modal-body {
  padding-top: 6px;
  padding-bottom: 0;
  padding-left: 6px;
  padding-right: 6px;
}

.modal-login {
  color: #636363;
  width: 350px;
}

.modal-login .modal-content {
  padding: 20px;
  border-radius: 5px;
  border: none;
}

.modal-login .modal-header {
  border-bottom: none;
  position: relative;
  justify-content: center;
}

.modal-login h4 {
  text-align: center;
  font-size: 26px;
}

.modal-login  .form-group {
  position: relative;
}

.modal-login i {
  position: absolute;
  left: 13px;
  top: 11px;
  font-size: 18px;
}

.modal-login .form-control {
  padding-left: 40px;
}

.modal-login .form-control:focus {
  border-color: #00ce81;
}

.modal-login .form-control, .modal-login .btn {
  min-height: 40px;
  border-radius: 3px;
}

.modal-login .hint-text {
  text-align: center;
  padding-top: 10px;
}

.modal-login .close {
  position: absolute;
  top: -5px;
  right: -1px;
}

.modal-login .btn {
  background: #00ce81;
  border: none;
  line-height: normal;
}

.modal-login .btn:hover, .modal-login .btn:focus {
  background: #00bf78;
}

.modal-login .modal-footer {
  background: #ecf0f1;
  border-color: #dee4e7;
  text-align: center;
  margin: 0 -10px -10px;
  border-radius: 5px;
  font-size: 13px;
  justify-content: center;
}

.modal-login .modal-footer a {
  color: #999;
}

.modal-confirm-dialog {
  color: #636363;
  width: 350px;
}

.modal-confirm-dialog .modal-content {
  padding: 6px;
  border-radius: 5px;
  border: none;
}

.modal-confirm-dialog h4 {
  text-align: center;
  font-size: 26px;
}

.modal-confirm-dialog .form-group {
  position: relative;
}

.modal-confirm-dialog i {
  position: absolute;
  left: 13px;
  top: 11px;
  font-size: 18px;
}

.modal-confirm-dialog .hint-text {
  text-align: center;
  padding-top: 10px;
}

.modal-confirm-dialog .close {
  position: absolute;
  top: -5px;
  right: -1px;
}

.modal-confirm-dialog .btn {
  background: #00ce81;
  border: none;
  line-height: normal;
}

.modal-confirm-dialog .btn:hover, .modal-login .btn:focus {
  background: #00bf78;
}

.modal-confirm-dialog .modal-footer {
  background: #ecf0f1;
  border-color: #dee4e7;
  text-align: center;
  margin: 0 -6px -6px;
  border-radius: 5px;
  font-size: 13px;
  justify-content: center;
}

.modal-confirm-dialog .modal-footer a {
  color: #999;
}

.ui-autocomplete {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 14px;
  text-align: left;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
}

.ui-autocomplete>li>div {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333333;
  white-space: nowrap;
}

.ui-state-hover, .ui-state-active, .ui-state-focus {
  text-decoration: none;
  color: #262626;
  background-color: #f5f5f5;
  cursor: pointer;
}

.ui-helper-hidden-accessible {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.alert {
  margin-left: 30px;
  margin-right: 50px;
}

#alert_messages {
  width: 100%;
}

#alert_message {
  font-size: 18px;
  vertical-align: middle;
}

.color input {
  background-color: #f1f1f1;
}

.form-check-input {
  margin-top: 0 !important;
  margin-left: 0 !important;
}